/* LESS Document */
@font-face {
  font-family: 'satellites';
  src: url('fonts/satellites.eot?-4iazim');
  src: url('fonts/satellites.eot?#iefix-4iazim') format('embedded-opentype'), url('fonts/satellites.woff?-4iazim') format('woff'), url('fonts/satellites.ttf?-4iazim') format('truetype'), url('fonts/satellites.svg?-4iazim#satellites') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-search:before,
.icon-save:before,
.icon-arrow-right:before,
.icon-arrow-left:before,
.icon-envelope-alt:before {
  font-family: 'satellites';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-search:before {
  content: "\e600";
}
.icon-save:before {
  content: "\e601";
}
.icon-arrow-right:before {
  content: "\e602";
}
.icon-arrow-left:before {
  content: "\e604";
}
.icon-envelope-alt:before {
  content: "\e603";
}
.format-label[data-format="ISO-19139"],
.format-label[data-format*="ISO-19139"] {
  background-position: 0 0;
  background-image: url("/images/icon-iso-19139.png");
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-weight: 400;
}
h1,
h2 {
  text-transform: uppercase;
}
/* Inputs */
input,
button,
select,
textarea {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.select2-container-multi .select2-choices {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #333333;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
.select2-container-multi.select2-container-active .select2-choices {
  border-color: #2390a0;
  -webkit-box-shadow: 0px 0px 0px 1px #2390a0;
  -moz-box-shadow: 0px 0px 0px 1px #2390a0;
  box-shadow: 0px 0px 0px 1px #2390a0;
}
::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-style: italic;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}
select {
  color: #333333;
}
.btn,
label {
  font-weight: normal;
}
a {
  color: #2390a0;
}
a:hover,
a:focus {
  color: #1e7d8b;
}
/* Buttons */
.btn,
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
  background-color: #333333;
  background-image: none;
  border-color: #333333;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #fff;
  text-shadow: none;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
  background-color: #404040;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #2390a0;
  border-color: #2390a0;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #28a3b5;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background-color: #2390a0;
  background-image: none;
}
html {
  font-size: 62.5%;
  /* Sets up the Base 10 */
  background-color: #262626;
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333333;
  background-color: #f5f5f5;
  background-image: none;
  line-height: 1.7;
  font-size: 14px;
  font-size: 1.4rem;
}
/* Fix Chrome bug*/
body > div,
body > header,
body > footer {
  font-size: 1.4rem;
}
.masthead {
  background-color: #262626;
  background-image: none;
  color: #ffffff;
  min-height: 65px;
}
.masthead .container {
  width: auto;
  max-width: 1140px;
  padding: 10px;
}
.masthead .navigation {
  margin: 12px 0 0 0;
  float: right;
}
.masthead .navigation .nav {
  float: right;
}
.masthead .navigation .nav.nav-pills li a {
  font-size: 14px;
  font-size: 1.4rem;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  padding: 10px 0;
  margin: 0 0 0 32px;
  font-weight: bold;
  text-transform: uppercase;
}
.masthead .navigation .nav.nav-pills li a:hover,
.masthead .navigation .nav.nav-pills li.active a {
  background-color: transparent;
  color: #2390a0;
}
.masthead .navigation a {
  color: #ffffff;
}
.masthead .navigation .account li {
  border: none;
}
.masthead .navigation .account li a {
  color: #ffffff;
  padding: 0;
  margin-left: 15px;
}
.masthead .navigation .account li a i {
  display: none;
}
.masthead .navigation .account li a:hover {
  background-color: #262626;
  color: #ffffff;
}
.masthead .navigation .account.authed .image .gravatar {
  display: none;
}
.masthead .navigation .account .notifications a span,
.masthead .navigation .account .notifications a:hover span,
.masthead .navigation .account .notifications.notifications-important a span {
  background-color: #262626;
  font-size: inherit;
  margin: 0;
  padding: 0;
  color: #ffffff;
}
.masthead .navigation .account .notifications a span.badge {
  background-color: #262626;
  font-size: 12px;
  font-size: 1.2rem;
  padding: 1px 5px;
  -webkit-border-radius: 8px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 8px;
  -moz-background-clip: padding;
  border-radius: 8px;
  background-clip: padding-box;
  color: #fff;
  font-style: normal;
  display: none;
}
.masthead .navigation .account .notifications.notifications-important a span.badge {
  background-color: #2390a0;
  display: inline-block;
  color: #262626;
}
.masthead hgroup.header-image a {
  display: inline-block;
  height: 60px;
}
.masthead hgroup.header-image a img {
  max-height: 100%;
}
.masthead hgroup h1 {
  font-weight: 800;
  letter-spacing: 0;
  margin: 6px 0 0 0;
}
.masthead hgroup.header-text-logo-tagline h1 {
  margin-top: -10px;
}
.masthead hgroup h2 {
  bottom: -12px;
}
[role="main"],
.main {
  background-image: none;
  background-color: #f5f5f5;
}
.toolbar .breadcrumb a {
  color: #333333;
}
.wrapper {
  border: none;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2Pcu3fvfwAHrgM49yDwxgAAAABJRU5ErkJggg==);
  background-repeat: repeat-y;
  background-position: 244px top;
}
[role="main"] .primary {
  width: 670px;
}
.module-content {
  padding-left: 0;
  padding-right: 0;
}
/* Search Form */
.search-form input[type="text"].search {
  border-color: #2390a0;
  border-width: 2px;
}
.search-form {
  padding: 0;
  border: none;
}
.search-form .search-input.search-giant button {
  background-color: #2390a0;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: auto;
  width: 55px;
}
.search-form .search-input.search-giant button i {
  color: #fff;
}
.pill {
  background-color: #333333;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  position: relative;
}
.pill a.remove {
  position: absolute;
  background-color: #f5f5f5;
  color: #333333;
  width: 9px;
  height: 9px;
  top: -5px;
  right: -5px;
  overflow: hidden;
  -webkit-border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 6px;
  -moz-background-clip: padding;
  border-radius: 6px;
  background-clip: padding-box;
  border: solid 2px #333333;
}
.pill a.remove i {
  font-size: 9px;
  display: block;
  line-height: 9px;
  text-align: center;
}
.search-form .filter-list .pill {
  margin-right: 12px;
}
.search-form .filter-list .pill:after {
  content: '+';
  position: absolute;
  color: #333333;
  right: -13px;
  top: 1px;
  font-size: 18px;
  font-weight: bold;
}
.search-form .filter-list .pill:last-child:after {
  display: none;
}
/* Footer */
.site-footer {
  background-color: #262626;
  background-image: none;
  color: #ffffff;
}
.site-footer a,
.site-footer label,
.site-footer small {
  color: #ffffff;
}
.site-footer ul {
  width: auto;
  margin-right: 100px;
  line-height: 20px;
}
.site-footer .footer-links,
.site-footer .attribution {
  width: auto;
}
.site-footer .attribution {
  float: right;
}
.site-footer .attribution a {
  display: block;
  margin-top: 10px;
}
.site-footer .attribution a img {
  width: 158px;
}
.site-footer .footer-links {
  width: 750px;
}
.site-footer .footer-links ul:nth-child(2) {
  float: right;
  margin-right: 0;
}
.site-footer .ckan-footer-logo {
  display: block;
  width: 106px;
  height: 36px;
  margin-top: 2px;
  text-indent: -900em;
  background: url("/images/ckan-logo-footer.png") no-repeat top left;
}
/* Home */
.homepage {
  text-align: center;
}
.homepage .hero {
  background-color: #fff;
  background-image: none;
  padding-top: 30px;
  padding-bottom: 0;
}
.homepage header {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.homepage header h1 {
  margin-bottom: 0;
  font-size: 34px;
  font-size: 3.4rem;
}
.homepage header p {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.28;
}
.homepage header p strong {
  font-weight: 400;
}
.homepage header p em {
  font-size: 30px;
  font-size: 3rem;
  font-style: normal;
}
.homepage header:after {
  content: '';
  width: 200px;
  height: 2px;
  background-color: #2390a0;
  display: inline-block;
  position: relative;
  top: -10px;
}
.homepage .search-form .heading {
  display: none;
}
.homepage .browse-category h3 {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.homepage > * {
  padding-top: 20px;
  padding-bottom: 20px;
}
.homepage > *:last-child {
  padding-bottom: 40px;
}
.homepage > *:nth-child(odd) {
  background-color: #fff;
}
.homepage h2 {
  font-weight: 300;
  font-size: 24px;
  font-size: 2.4rem;
}
.homepage h2:after {
  content: '';
  width: 200px;
  height: 2px;
  background-color: #2390a0;
  display: inline-block;
  position: relative;
  top: -10px;
}
.homepage h2 strong {
  display: block;
  font-size: 30px;
  font-size: 3rem;
}
.homepage .disc-icon {
  display: block;
  margin-bottom: 30px;
}
.homepage .btn-large {
  min-width: 126px;
  text-transform: uppercase;
}
ul.category-grid {
  margin: 20px 0 0 0;
}
ul.category-grid li {
  display: inline-block;
  width: 128px;
  height: 195px;
  vertical-align: top;
  overflow: hidden;
  margin: 0 23px;
}
ul.category-grid li:nth-child(11n+6) {
  margin-left: -64px;
}
ul.category-grid li:nth-child(11n) {
  margin-right: -64px;
}
ul.category-grid li a {
  display: block;
  text-align: center;
  font-size: 19px;
  font-size: 1.9rem;
  color: #333333;
  font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
ul.category-grid li a:before {
  content: '';
  width: 124px;
  height: 124px;
  display: block;
  border: solid 2px #333333;
  background-color: #f5f5f5;
  margin-bottom: 8px;
  background-image: url(/base/images/placeholder-image.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
ul.category-grid li a:hover {
  text-decoration: none;
  opacity: 0.8;
}
ul.category-grid li[class*="climatology"] a:before {
  background-image: url("/images/categories/climatology.jpg");
  background-size: cover;
}
ul.category-grid li[class*="elevation"] a:before {
  background-image: url("/images/categories/elevation.jpg");
  background-size: cover;
}
ul.category-grid li[class*="environment"] a:before {
  background-image: url("/images/categories/environment.jpg");
  background-size: cover;
}
ul.category-grid li[class*="farming"] a:before {
  background-image: url("/images/categories/farming.jpg");
  background-size: cover;
}
ul.category-grid li[class*="geoscientific"] a:before {
  background-image: url("/images/categories/geoscientific.jpg");
  background-size: cover;
}
ul.category-grid li[class*="imagery"] a:before {
  background-image: url("/images/categories/imagery.jpg");
  background-size: cover;
}
ul.category-grid li[class*="inlandWaters"] a:before {
  background-image: url("/images/categories/inland-waters.jpg");
  background-size: cover;
}
ul.category-grid li[class*="intelligence"] a:before {
  background-image: url("/images/categories/intelligence.jpg");
  background-size: cover;
}
ul.category-grid li[class*="planning"] a:before {
  background-image: url("/images/categories/planning.jpg");
  background-size: cover;
}
ul.category-grid li[class*="structure"] a:before {
  background-image: url("/images/categories/structure.jpg");
  background-size: cover;
}
ul.category-grid li[class*="Copernicus"] a:before {
  background-image: url("/images/categories/copernicus.jpg");
  background-size: cover;
}
/* Dataset Search */
.search-form h2 {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
}
.dataset-heading a {
  color: inherit;
}
.dataset-item {
  border-bottom: 2px solid #DDDDDD;
}
.dataset-resources li a {
  background-color: transparent;
  margin-right: 5px;
}
.styled-select {
  width: 160px;
  overflow: hidden;
  background-image: url(/images/select-arrow.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 7px 6px;
}
.styled-select select {
  background: transparent;
  width: 180px;
  border: none;
  -webkit-appearance: none;
  outline: none;
  line-height: normal;
}
.search-form .control-order-by .styled-select {
  display: inline-block;
}
.search-form .control-order-by .styled-select select {
  width: 200px;
}
.search-form .control-order-by label {
  display: inline-block;
  float: left;
  line-height: 30px;
}
.secondary .nav-item,
.secondary .nav-aside li {
  list-style: square;
  color: #808080;
  padding-left: 8px;
  margin-left: 15px;
  border: none;
}
.secondary .nav-item.active,
.secondary .nav-aside li.active {
  color: #333333;
  background-color: transparent;
}
.secondary .nav-item.active > a,
.secondary .nav-aside li.active a,
.secondary .nav-item.active > a:hover,
.secondary .nav-aside li.active a:hover {
  background-color: transparent;
  color: #333333;
}
.secondary .nav-item.active > a:before,
.secondary .nav-aside li.active a:before {
  background-image: none;
}
.secondary .nav > li > a:hover,
.secondary .nav > li > a:focus {
  background-color: transparent;
}
.module-footer {
  border: none;
}
.module-footer .read-more {
  font-weight: normal;
  font-size: 12px;
  font-size: 1.2rem;
}
/* Dataset Add */
.editor .editor-info-block {
  background-color: #f5f5f5;
  border: none;
  color: #333333;
  padding: 0;
}
.editor textarea {
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
.control-full .select2-container {
  width: 540px !important;
}
.select2-drop-active {
  border-color: #2390a0;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
.select2-container-active .select2-choice,
.select2-container-active .select2-choices,
.select2-drop.select2-drop-above.select2-drop-active {
  border-color: #2390a0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.stages {
  margin: -20px 0 20px 0;
}
.editor .editor-info-block a {
  color: #2390a0;
}
.form-actions {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
.form-horizontal .form-actions {
  padding-left: 0;
  padding-right: 0;
}
.page-header {
  background-color: #f5f5f5;
}
.page-header .content_action {
  margin-right: 0;
}
/* Modules */
.module-narrow .module-heading,
.module-narrow .module-content,
.module-narrow .module-footer {
  padding-left: 0;
  padding-right: 0;
}
.module-heading {
  background-color: transparent;
  border: none;
  padding: 0;
}
.module-heading i {
  display: none;
}
.module-shallow .module-content {
  padding-top: 5px;
}
#dataset-map .module-heading {
  color: #f5f5f5;
}
/* Grids */
.media-grid {
  background-image: none;
  background-color: transparent;
  border: none;
  margin: 0 -16px;
}
.media-item {
  width: 184px;
  background-color: #ffffff;
}
.media-view {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  border-color: #ffffff;
}
.media-view:hover,
.media-view.hovered {
  border-color: #2390a0;
  -webkit-box-shadow: 0px 0px 0px 1px #2390a0;
  -moz-box-shadow: 0px 0px 0px 1px #2390a0;
  box-shadow: 0px 0px 0px 1px #2390a0;
}
.media-view:hover .banner,
.media-view.hovered .banner {
  background-color: #333333;
}
#dataset-slider-widget {
  margin: 10px 0;
}
