{% extends "page.html" %}
{% set homepage_style = ( g.homepage_style or '1' ) %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% block content %}
  <div class="homepage" role="main">
    <div id="content" class="container">
      <div class="flash-messages">
        {{ self.flash() }}
      </div>
      {% block primary_content %}
        <header>
          {% if intro %}
            {{ h.render_markdown(intro) }}
          {% else %}
            <p>
              {% trans %}Satellite data, resources, and applications at your fingertips<br>
            <strong><em>Explore, Examine, Engage</em></strong> {% endtrans %} </p>
          {% endif %}
        </header>
        <form class="module-content search-form" method="get" action="{% url_for controller='package', action='search' %}">
          <h3 class="heading">{{ _("Search by keyword") }}</h3>
          <div class="search-input control-group search-giant">
            <input id="search" type="text" class="search" name="q" value="" autocomplete="off" placeholder="{{ _('Search by keyword') }}" />
            <button type="submit">
              <i class="icon-search"></i>
              <span>{{ _('Search') }}</span>
            </button>
          </div>
        </form>
      {% endblock %}
      <section class="browse-category">
        {% set categories = h.get_categories() %}
        <h3>Browse by category</h3>
        <ul class="category-grid">
          {% for category in categories %}
            {% if category.count %}
              <li><a href="/dataset?topic-category={{ category.name }}">{{ category.short_title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </section>
    </div>
  </div>
  {% resource 'satellites-theme/autocomplete' %}
  {% resource 'satellites-theme/jqueryui/css/satellites-theme/jquery-ui.css' %}
{% endblock %}
