{% extends "page.html" %}
{% set homepage_style = ( g.homepage_style or '1' ) %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% block content %}
  <div class="homepage" role="main">
    <div id="content" class="container">
      <div class="flash-messages">
        {{ self.flash() }}
      </div>
      {% block primary_content %}
        <header>
          {% if intro %}
            {{ h.render_markdown(intro) }}
          {% else %}
            <h1 class="page-heading">{{ _("Welcome to CKAN") }}</h1>
            <p>
              {% trans %}This is a nice introductory paragraph about CKAN or the site
              in general. We don't have any copy to go here yet but soon we will
              {% endtrans %}
            </p>
          {% endif %}
        </header>
        <form class="module-content search-form" method="get" action="{% url_for controller='package', action='search' %}">
          <h3 class="heading">{{ _("Search by keyword") }}</h3>
          <div class="search-input control-group search-giant">
            <input type="text" class="search" name="q" value="" autocomplete="off" placeholder="{{ _('Search by keyword') }}" />
            <button type="submit">
              <i class="icon-search"></i>
              <span>{{ _('Search') }}</span>
            </button>
          </div>
        </form>
      {% endblock %}
      <section class="browse-category">
        <h3>Browse by category</h3>
        <ul class="category-grid">
          <li><a href="#">Biota</a></li>
          <li><a href="#">Boundaries</a></li>
          <li><a href="#">Climatology</a></li>
          <li><a href="#">Economy</a></li>
          <li><a href="#">Elevation</a></li>
          <li><a href="dataset?topic-category=environment">Environment</a></li>
          <li><a href="#">Farming</a></li>
          <li><a href="#">Geoscientific</a></li>
          <li><a href="#">Health</a></li>
          <li><a href="#">Imagery</a></li>
          <li><a href="#">Inland Waters</a></li>
          <li><a href="#">Intelligence</a></li>
        </ul>
      </section>
    </div>
  </div>
{% endblock %}
