{% ckan_extends %}

{% block footer_content %}
<div class="row">
    <div class="span6 footer-links">
    {% block footer_nav %}
      <ul class="unstyled">
          {% block footer_links %}
          <li><a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About Satellite Applications Catapult') }}</a></li>
          {% set api_url = 'http://docs.ckan.org/en/{0}/api.html'.format(g.ckan_doc_version) %}
          <li><a href="{{ api_url }}">{{ _('API') }}</a></li>
          <li><a href="http://www.okfn.org/">{{ _('Open Knowledge') }}</a></li>
          <li><a href="http://www.opendefinition.org/okd/"><img src="/images/od_80x15_blue.png"></a></li>
        {% endblock %}
      </ul>
    </div>
    <div class="span3 footer-links-ckan">
      <ul class="unstyled">
        {% block footer_links_ckan %}
        <li>{% trans %}Powered by <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>{% endtrans %}</li>
        {% endblock %}
      </ul>
    </div>
    {% endblock %}
    <div class="span3 attribution">
      {% block footer_attribution %}
      <a href="https://sa.catapult.org.uk/">
        <img src="/images/satellites-catapult-logo.png" alt="Satellites Applications Catapult" />
      </a>
    {% endblock %}
  </div>
</div>
{% endblock %}

{% block footer_lang %}{% endblock %}
