<p>The <a href="https://sa.catapult.org.uk">Satellite Applications Catapult</a>
is an independent innovation and technology company, created to foster growth
across the economy through the exploitation of space. It helps organisations
make use of and benefit from satellite technologies, and brings together
multi-disciplinary teams to generate ideas and solutions in an open innovation
environment.</p>

<p>The Satellite Applications Catapult is one of a network of centres
established by the Technology Strategy Board to accelerate the take up of
emerging technologies and drive economic growth. A not for profit company, the
Catapult provides facilities, platforms and expert knowledge to enable the
translation of ideas from concept to market.</p>
